@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary text-text-primary font-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings text-primary-main;
  }
}

@layer utilities {
  .font-script {
    font-family: 'Great Vibes', cursive;
  }
}
