@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary text-text-primary font-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings text-primary-main;
  }
}

@layer utilities {
  .font-script {
    font-family: 'Great Vibes', cursive;
  }

  /* Декоративные крошки/частицы */
  .crumb {
    position: absolute;
    background-color: #c5a059;
    border-radius: 50%;
    opacity: 0.6;
  }

  .crumb-sm {
    width: 4px;
    height: 4px;
  }
  .crumb-md {
    width: 6px;
    height: 6px;
  }
  .crumb-lg {
    width: 8px;
    height: 8px;
  }
}
